@page "/creditcard"
@using Business.Abstract
@using Core.Abstract
@using CoreUI.Components
@using CoreUI.Components.Confirm
@using CoreUI.Components.DataGrid
@using CoreUI.Components.Modal
@using CoreUI.Components.NotificationService
@using CoreUI.Components.SelectList
@using Entity
@inject ICreditCardService CreditCardService
@inject ICreditCardPrefixService CreditCardPrefixService
@inject IBankCardService BankCardService
@inject ICardBrandService CardBrandService
@inject IUserIdentityProcessor IdentityProcessor
@inject NotificationService notification
@inject ConfirmDialogService confirmDialog
@implements IDisposable
@attribute [Authorize]

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="findarea">
                <form @onsubmit="SearchBankNameEnter">
                    <input class="findtext" type="text" placeholder="Banka Adı" id="filter" name="filter" @bind-value="@_bankNameFilter" />

                    <input class="btn btn-outline-primary my-2 my-sm-0" style="border-radius:20px;" type="submit" />

                </form>
            </div>
            <DataGrid TItem="CreditCard" Items="CreditCardList" SelectedItemChanged="SelectedCreditCardChange"
                      Pager RowCount="10" Virtualize="true" TotalCount="@CreditCardList.Count">
                <Columns>
                    <Column Caption="Kredi Kartı Adı" Field="@nameof(CreditCard.Name)" />
                    <Column Caption="Kart Model">
                        <CellTemplate>
                            @context.Item.CardBrand.Name
                        </CellTemplate>
                    </Column>
                </Columns>
            </DataGrid>
            <div>
                <button type="button" class="btn btn-success" onclick="@NewCreditcard">Yeni</button>
                <button type="button" class="btn btn-primary" disabled="@(selectedCreditCard == null ?true:false)" onclick="@ChangeCreditcard">Değiştir</button>
                <button type="button" class="btn btn-danger" disabled="@(selectedCreditCard == null ?true:false)" onclick="@DeleteCreditcard">Sil</button>
            </div>
        </div>
        <div class="col-5">
            <div class="findarea">
                <form @onsubmit="SearchPrefixEnter">
                    <input class="findtext" type="text" placeholder="KK No" id="filter" name="filter" @bind-value="@_prefixFilter" />

                    <input class="btn btn-outline-primary my-2 my-sm-0" style="border-radius:20px;" type="submit" />

                </form>
            </div>
            <DataGrid TItem="CreditCardPrefix" Items="CreditCardPrefixes" Pager RowCount="10" Virtualize="true"
                      SelectedItemChanged="prefixChanged"
                      TotalCount="@CreditCardPrefixes.Count">
                <Columns>
                    <Column Caption="Prefix" Field="@nameof(CreditCardPrefix.Prefix)" />

                </Columns>
            </DataGrid>
            <div>
                <button type="button" class="btn btn-success" onclick="@NewPrefix">Yeni</button>
                <button type="button" class="btn btn-primary" disabled="@(creditCardPrefix == null ?true:false)" onclick="@ChangePrefix">Değiştir</button>
                <button type="button" class="btn btn-danger" disabled="@(creditCardPrefix == null ?true:false)" onclick="@DeletePrefix">Sil</button>
            </div>
        </div>
    </div>
    <Modal @ref="prefixCard" Title="Kredi Kartı">
        <BodyTemplate>
            <div class="row">
                <div class="col-sm-4">Prefix</div>
                <div class="col-sm-8">
                    <input class="form-control" type="text" @bind-value="@_prefix" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">Banka</div>
                <div class="col-sm-8"> <SelectList TItem="BankCard" Items="BankCardList" ValueField="Id" DisplayField="Name" SelectedItemChanged="bankChanged" Selected="_bankId" /></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Marka</div>
                <div class="col-sm-8"> <SelectList TItem="CardBrand" Items="CardBrandList" DisplayField="Name" ValueField="Id" Selected="_bankBrand" SelectedItemChanged="brandChanged" /></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Business</div>
                <div class="col-sm-8">  <input type="checkbox" checked="@isBusiness" @oninput="BusinessChanged" /> </div>
            </div>
            <div class="row">
                <div class="col-sm-4">Aktif</div>
                <div class="col-sm-8">  <input type="checkbox" checked="@isActive" @oninput="ActiveChanged" /> </div>
            </div>
            <div class="row">
                <div class="col-sm-4">Taksit</div>
                <div class="col-sm-8">  <input type="checkbox" checked="@isInstalment" @oninput="InstalmentChanged" /> </div>
            </div>
        </BodyTemplate>
    </Modal>
    <Modal @ref="creditCard" Title="Kredi Kartı">
        <BodyTemplate>
            <div class="row">
                <div class="col-sm-4">Adı</div>
                <div class="col-sm-8">
                    <input class="form-control" type="text" @bind-value="@_prefix" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">Banka</div>
                <div class="col-sm-8"> <SelectList TItem="BankCard" Items="BankCardList" ValueField="Id" DisplayField="Name" SelectedItemChanged="bankChanged" Selected="_bankId" /></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Marka</div>
                <div class="col-sm-8"> <SelectList TItem="CardBrand" Items="CardBrandList" DisplayField="Name" ValueField="Id" Selected="_bankBrand" SelectedItemChanged="brandChanged" /></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Business</div>
                <div class="col-sm-8">  <input type="checkbox" checked="@isBusiness" @oninput="BusinessChanged" /> </div>
            </div>
            <div class="row">
                <div class="col-sm-4">Aktif</div>
                <div class="col-sm-8">  <input type="checkbox" checked="@isActive" @oninput="ActiveChanged" /> </div>
            </div>

        </BodyTemplate>
    </Modal>
</div>

@code {
    private Modal prefixCard { get; set; } = default!;
    private string _bankNameFilter { get; set; } = "";
    private string _prefixFilter { get; set; } = "";
    private Guid _bankBrand { get; set; } = default!;
    private Guid _bankId { get; set; } = default!;
    private string _prefix { get; set; } = default!;
    private bool isBusiness { get; set; }
    private bool isActive { get; set; }
    private bool isInstalment { get; set; }

    private Modal creditCard { get; set; } = default!;


    private List<CreditCard> CreditCardList { get; set; } = default!;
    private List<CreditCard> selectedCreditCardList { get; set; } = default!;
    private List<CreditCardPrefix> CreditCardPrefixes { get; set; } = new();
    private List<BankCard> BankCardList { get; set; } = default!;
    private List<CardBrand> CardBrandList { get; set; } = default!;
    private CreditCard selectedCreditCard { get; set; } = default!;
    private CreditCardPrefix creditCardPrefix { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        CreditCardList = await CreditCardService.GetAll();
        CardBrandList = await CardBrandService.GetCardBrand();

    }
    private async void SelectedCreditCardChange(CreditCard creditCard)
    {
        selectedCreditCard = creditCard;
        CreditCardPrefixes = await CreditCardPrefixService.GetBankList(creditCard.Id);
        if (creditCardPrefix != null)
        {
            isBusiness = creditCardPrefix.Business;
            isActive = creditCardPrefix.Active;
            isInstalment = creditCardPrefix.isInstallment;
        }
        StateHasChanged();
    }
    private async void prefixChanged(CreditCardPrefix prefix)
    {
        creditCardPrefix = prefix;
        _prefix = prefix.Prefix;
        _bankBrand = (await CardBrandService.GetCardBrandById(selectedCreditCard.CardBrandId)).Id;

    }

    private async void SearchBankNameEnter()
    {
        CreditCardList = await CreditCardService.GetFiltered(_bankNameFilter);
    }

    private async void SearchPrefixEnter()
    {
        CreditCardPrefix cprefix = await CreditCardPrefixService.GetByPrefix(_prefixFilter);
        if (cprefix != null)
        {
            creditCardPrefix = cprefix;
            CreditCard creditCard = await CreditCardService.Get(cprefix.CreditCardId);
            selectedCreditCard = creditCard;
            CreditCardPrefixes = await CreditCardPrefixService.GetByPrefixList(_prefixFilter);
        }
    }
    private async void NewPrefix()
    {
        if (BankCardList == null)
            BankCardList = await BankCardService.GetAllBank();

        bool result = await prefixCard.Show();
        if (result)
        {
            creditCardPrefix = await CreditCardPrefixService.GetByPrefix(_prefix);
            if (creditCardPrefix == null)
            {
                selectedCreditCard = await CreditCardService.Get(_bankId, _bankBrand);
                if (selectedCreditCard != null)
                {
                    creditCardPrefix = new();
                    creditCardPrefix.Prefix = _prefix;
                    creditCardPrefix.CreditCardId = selectedCreditCard.Id;
                    var bankcard = await BankCardService.GetBank(_bankId);
                    creditCardPrefix.BankCode = bankcard.Data.BankCode;
                    creditCardPrefix.BrandCode = selectedCreditCard.BrandCode;
                    creditCardPrefix.CreateUser = await IdentityProcessor.GetCurrentUserId();
                    creditCardPrefix.CreateDate = DateTime.Now;

                    var test = await CreditCardPrefixService.Create(creditCardPrefix);
                    if (test.Status == Core.Abstract.ResultStatus.Error)
                    {
                        foreach (string errMsg in test.Message.Split(','))
                        {
                            notification.Notify(new NotificationMessage { Severity = ResultStatus.Error, Summary = "Hata", Detail = errMsg, Duration = 5000 });
                        }
                    }
                }
                else
                {
                    notification.Notify(new NotificationMessage { Severity = ResultStatus.Error, Summary = "Hata", Detail = "Kredi Kartı Detayları Bulunamadı Bankayı ve MArkayı Kontrol Edin.", Duration = 5000 });
                }
            }
            else
            {
                notification.Notify(new NotificationMessage { Severity = ResultStatus.Error, Summary = "Hata", Detail = "Kart Daha Önce Tanımlanmış.", Duration = 5000 });
            }
        }
    }

    private async void NewCreditcard()
    {
        if (BankCardList == null)
            BankCardList = await BankCardService.GetAllBank();

        bool result = await creditCard.Show();
        if (result)
        {
            selectedCreditCard = await CreditCardService.Get(_bankId, _bankBrand);
            if (selectedCreditCard == null || selectedCreditCard.isBusiness != isBusiness)
            {
                selectedCreditCard = new();
                selectedCreditCard.Name = _prefix;
                selectedCreditCard.BankCardId = _bankId;
                selectedCreditCard.CardBrandId = _bankBrand;
                selectedCreditCard.CreateDate = DateTime.Now;
                selectedCreditCard.isBusiness = isBusiness;
                selectedCreditCard.Active = isActive;
                selectedCreditCard.CreateUser = await IdentityProcessor.GetCurrentUserId();

                var test = await CreditCardService.CreateCreditCard(selectedCreditCard);
                if(test.Status == Core.Abstract.ResultStatus.Error)
                {
                    notification.Notify(new NotificationMessage { Severity = ResultStatus.Error, Summary = "Hata", Detail = test.Message, Duration = 5000 });
                }
                else
                {
                    CreditCardList = await CreditCardService.GetAll();
                    StateHasChanged();
                    notification.Notify(new NotificationMessage { Severity = ResultStatus.Success, Summary = "Onay", Detail = test.Message, Duration = 5000 });
                }
                _bankId = Guid.Empty;
                _bankBrand = Guid.Empty;
            }
            else
            {
                notification.Notify(new NotificationMessage { Severity = ResultStatus.Error, Summary = "Hata", Detail = "Kart Daha Önce Tanımlanmış.", Duration = 5000 });
            }
        }
    }

    private async void ChangeCreditcard()
    {

        if (BankCardList == null)
            BankCardList = await BankCardService.GetAllBank();
        _prefix = selectedCreditCard.Name;
        _bankId = selectedCreditCard.BankCardId;
        _bankBrand = selectedCreditCard.CardBrandId;
        isBusiness = selectedCreditCard.isBusiness;
        isActive = selectedCreditCard.Active;
        bool result = await creditCard.Show();

        if (result)
        {
            selectedCreditCard = new();
            selectedCreditCard.Name = _prefix;
            selectedCreditCard.BankCardId = _bankId;
            selectedCreditCard.CardBrandId = _bankBrand;
            selectedCreditCard.UpdateDate = DateTime.Now;
            selectedCreditCard.UpdateUser = await IdentityProcessor.GetCurrentUserId();
            await CreditCardService.UpdateCreditCard(selectedCreditCard);
        }
    }
    private async void DeleteCreditcard()
    {
        if(selectedCreditCard !=  null)
        {
            var onay = await confirmDialog.Show("Silme Onay", $"{selectedCreditCard.Name} Kayıt Silinecektir Onaylıyor musunuz.");
            if (onay)
            {
               var result =  await CreditCardService.DeleteCreditCard(selectedCreditCard);
                notification.Notify(new NotificationMessage { Severity = result.Status, Summary = "İşlem Sonucu", Detail = result.Message, Duration = 5000 });
            }
            CreditCardList = await CreditCardService.GetAll();
            StateHasChanged();
        }
    }
    private void bankChanged(BankCard bankCard)
    {
        if (bankCard != null)
        {
            _bankId = bankCard.Id;
            selectedCreditCardList = CreditCardList.Where(x => x.BankCardId == bankCard.Id).ToList();
        }
    }
    private void brandChanged(CardBrand brand)
    {
        if (brand != null)
        {
            _bankBrand = brand.Id;
        }
    }

    private async void DeletePrefix()
    {
        if (creditCardPrefix != null)
        {
            var onay = await confirmDialog.Show("Silme Onay", $"{selectedCreditCard.Name} Kayıt Silinecektir Onaylıyor musunuz.");
            if (onay)
            {
                CreditCardPrefixService.Delete(creditCardPrefix);
                CreditCardPrefixes = await CreditCardPrefixService.GetBankList(selectedCreditCard.Id);
                StateHasChanged();
            }
        }
    }
    private async void ChangePrefix()
    {
        
        if (creditCardPrefix != null)
        {
            BankCardList = await BankCardService.GetAllBank();
            selectedCreditCardList = CreditCardList.Where(x => x.BankCardId == selectedCreditCard.BankCardId).ToList();
            _bankId = selectedCreditCard.BankCardId;
            isActive = creditCardPrefix.Active;
            isBusiness = creditCardPrefix.Business;
            isInstalment = creditCardPrefix.isInstallment;
            bool result = await prefixCard.Show();
            if (result)
            {
                selectedCreditCard = selectedCreditCardList.SingleOrDefault(x => x.BankCardId == _bankId && x.CardBrandId == _bankBrand && x.isBusiness == isBusiness)!;
                creditCardPrefix.CreditCardId = selectedCreditCard.Id;
                creditCardPrefix.isInstallment = isInstalment;
                creditCardPrefix.Business = isBusiness;
                creditCardPrefix.Active = isActive;
                var test = await CreditCardPrefixService.Update(creditCardPrefix);
                if (test.Status == Core.Abstract.ResultStatus.Error)
                {
                    foreach (string errMsg in test.Message.Split(','))
                    {
                        notification.Notify(new NotificationMessage { Severity = ResultStatus.Error, Summary = "Hata", Detail = errMsg, Duration = 5000 });
                    }
                }

            }
        }
    }

    private void BusinessChanged(ChangeEventArgs e)
    {
        isBusiness = Convert.ToBoolean(e.Value);
    }
    private void ActiveChanged(ChangeEventArgs e)
    {
        isActive = Convert.ToBoolean(e.Value);
    }
    private void InstalmentChanged(ChangeEventArgs e)
    {
        isInstalment = Convert.ToBoolean(e.Value);
    }

    public void Dispose()
    {
        CreditCardList = null;
        selectedCreditCardList = null;
        CreditCardPrefixes = null;
        BankCardList = null;
        CardBrandList = null;
        creditCardPrefix = null;
        selectedCreditCard = null;

    }
}
