@page "/creditcard"
@using Business.Abstract
@using CoreUI.Components.DataGrid
@using Entity
@inject ICreditCardService CreditCardService
@inject ICreditCardPrefixService CreditCardPrefixService
@attribute [Authorize]
<div class="container">
   <div class="row">
       <div class="col-7">
           <div class="findarea">
                <form @onsubmit="SearchBankNameEnter">
                    <input class="findtext" type="text" placeholder="Banka Adı" id="filter" name="filter" @bind-value="@_bankNameFilter" />
                 
                    <input class="btn btn-outline-primary my-2 my-sm-0" style="border-radius:20px;" type="submit" />

                </form>
           </div>
            <DataGrid TItem="CreditCard" Items="CreditCardList" SelectedItemChanged="SelectedCreditCardChange"
                Pager RowCount="20" Virtualize="true" TotalCount="@CreditCardList.Count">
                <Columns>
                    <Column Caption="Kredi Kartı Adı" Field="@nameof(CreditCard.Name)" />
                    <Column Caption="Kart Model">
                        <CellTemplate>
                            @context.Item.CardBrand.Name
                        </CellTemplate>
                    </Column>
                </Columns>
            </DataGrid>
       </div>
       <div class="col-5">
            <div class="findarea">
                <form @onsubmit="SearchPrefixEnter">
                    <input class="findtext" type="text" placeholder="Banka Adı" id="filter" name="filter" @bind-value="@_prefixFilter" />

                    <input class="btn btn-outline-primary my-2 my-sm-0" style="border-radius:20px;" type="submit" />

                </form>
            </div>
           <DataGrid TItem="CreditCardPrefix" Items="CreditCardPrefixes" Pager RowCount="10" Virtualize="true" TotalCount="@CreditCardPrefixes.Count">
               <Columns>
                   <Column Caption="Prefix" Field="@nameof(CreditCardPrefix.Prefix)"/>     
                 
                   </Columns>
           </DataGrid>
       </div>
   </div>
   
</div>

@code {
    private string _bankNameFilter { get; set; } = "";
    private string _prefixFilter { get; set; } = "";
    private List<CreditCard> CreditCardList { get; set; } = default!;
    private List<CreditCardPrefix> CreditCardPrefixes { get; set; } = new();
    private CreditCard selectedCreditCard { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        CreditCardList = await CreditCardService.GetAll();

    }
    private async void SelectedCreditCardChange(CreditCard creditCard)
    {
        selectedCreditCard = creditCard;
        CreditCardPrefixes = await CreditCardPrefixService.GetBankList(creditCard.Id);
        StateHasChanged();
    }

    private async void SearchBankNameEnter()
    {
        CreditCardList = await CreditCardService.GetFiltered(_bankNameFilter);
    }

    private async void SearchPrefixEnter()
    {
        CreditCardPrefixes = CreditCardPrefixes.Where(x => x.Prefix.StartsWith(_prefixFilter)).ToList();
    }
}
