@page "/report/{state:int}"
@using Business.Abstract
@using CoreUI.Components.DataGrid
@using CoreUI.Components.NotificationService
@using Entity
@using Core.Enum
@inject IOrderService orderService
@inject IUserIdentityProcessor userIdentity
@inject ICompanyService companyService
@inject NotificationService notification
@attribute [Authorize]
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-6">
                <label>İlk Tarih</label>
                <input type="date" @bind="@firstDate" class="form-control" />

            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-6">
                <label>Son Tarih</label>
                <input type="date" @bind="@lastDate" class="form-control" />

            </div>
        </div>
        <div class="col-sm-2">
       @*      <input class="form-control btn btn-success" type="submit" onclick="@(()=>GetExtre(_currentPage,_rowsPerPage))" /> *@
        </div>
    </div>
    <DataGrid TItem="OrdFiche" Items="ordFiches" Pager TotalCount="@TotalCount" SelectedPageChange="SelecetedPageChanged" 
        RowCount="rowPerPage" SelectedItemChanged="ChangedSelecetedItem" RowsPerPage="RowPerPageChanged" >
        <Columns>
            <Column Caption="Tarih" Field="@nameof(OrdFiche.Date_)" />
            <Column Caption="FişNo" Field="@nameof(OrdFiche.Docode)" />
            <Column Caption="Ara Toplam" Field="@nameof(OrdFiche.GrossTotal)" TextAlign="TextAlignmet.Right" />
            <Column Caption="Vergi" Field="@nameof(OrdFiche.TotalVat)" TextAlign="TextAlignmet.Right" />
            <Column Caption="Toplam" Field="@nameof(OrdFiche.Total)" TextAlign="TextAlignmet.Right" />
            <Column Caption="Durum">
                <CellTemplate>
                    @((OrderState)context.Item.Send)
                </CellTemplate>
            </Column> 
            
        </Columns>
        <DetailRowTemplate>
            @{
                var detail = ordLines;
                <DataGrid TItem="OrdLine" Items="ordLines">
                    <Columns>
                        <Column Caption="Stok Kodu">
                            <CellTemplate>
                                @context.Item.Product.Code
                            </CellTemplate>
                        </Column>
                        <Column Caption="Adı">
                            <CellTemplate>
                                @context.Item.Product.Name
                            </CellTemplate>
                        </Column>
                        <Column Caption="Miktar" TextAlign="TextAlignmet.Right">
                            <CellTemplate>
                                @context.Item.Amount.ToString("N2")
                            </CellTemplate>
                        </Column>
                        <Column Caption="Fiyat" TextAlign="TextAlignmet.Right">
                            <CellTemplate>
                                @context.Item.Price.ToString("N2")
                            </CellTemplate>
                        </Column>
                        <Column Caption="Tutar" TextAlign="TextAlignmet.Right">
                            <CellTemplate>
                                @context.Item.Total.ToString("N2")
                            </CellTemplate>
                        </Column>
                    </Columns>
                  <FooterTemplate>
                    <td></td>
                    <td></td>
                    <td>Toplam</td>
                    <td></td>
                    <td class="text-end">@ordLines.Sum(x=>x.Total).ToString("N2")</td>
                  </FooterTemplate>
                </DataGrid>
            }

        </DetailRowTemplate>
        
    </DataGrid>
</div>
@code {
    private DateTime? firstDate { get; set; }
    private DateTime? lastDate { get; set; }
    private List<OrdFiche> ordFiches { get; set; } = default!;
    private List<OrdLine> ordLines { get; set; } = default!;
    private int TotalCount { get; set; }
    private Guid userId{ get; set; }
    private Company company{ get; set; }
    private int rowPerPage { get; set; } = 10;
    [Parameter]
    public int state { get; set; }

    protected async override void OnInitialized()
    {
        Guid userId = await userIdentity.GetCurrentUserId();
        company = await companyService.GetByUserId(userId);
        TotalCount = await orderService.GetOrderFicheCount(company.Id, state);
        SelecetedPageChanged(0);
    }

   

    private async void SelecetedPageChanged(int page)
    {
        ordFiches = await orderService.GetOrderFiche(company.Id,state, page, rowPerPage);
        //StateHasChanged();
        await InvokeAsync(StateHasChanged); // UI yeniden yüklemeye zorla
    }
    private void RowPerPageChanged(int pageSize)
    {
        rowPerPage = pageSize;
        SelecetedPageChanged(0);
    }
    private void ChangedSelecetedItem(OrdFiche ordFiche)
    {
        ordLines = ordFiche.Lines;
        StateHasChanged();
    }
}
