@inherits PagerModel

@if (Result != null)
{
    <div class="row">
        <div class="col-md-7 col-sm-7">
            @if (Result.PageCount > 1)
            {
                <ul class="pagination">
                    <li class="page-item @(Result.HasPreviousPage?null:"disabled")" style="cursor:pointer">
                        <a class="page-link" onclick="@(() => PagerButtonClicked(1))">
                            İlk
                        </a>
                    </li>
                    @for (var i = StartIndex; i <= FinishIndex; i++)
                    {
                        var currentIndex = i;
                        @if (i == Result.CurrentPage)
                        {
                            <li class="page-item active" style="cursor:pointer">
                                <a class="page-link" onclick="@(()=>PagerButtonClicked(currentIndex))">
                                    <span>@i</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item" style="cursor:pointer">
                                <a class="page-link" onclick="@(()=>PagerButtonClicked(currentIndex))">
                                    <span>@i</span>
                                </a>
                            </li>
                        }
                    }
                    <li class="page-item @(Result.HasNextPage?null:"disabled")" style="cursor:pointer">
                        <a class="page-link" style="cursor:pointer"
                           onclick="@(() => PagerButtonClicked(Result.PageCount))">
                            Son
                        </a>
                    </li>
                </ul>
            }
            <div>
            </div>

        </div>
        <div class="col-md-5 col-sm-5">
            <div class="row">
                <div class="col-md-4 col-sm-4 justify-content-md-start">
                    <select class="form-select" role="button" @onchange="@(PageSizeChanged)">
                        @foreach (var i in PageSizeSelectorItems)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>
                <div class="col-md-4 col-sm-4">page</div>
            </div>
        </div>

    </div>

}

@code {
  

}
