@page "/cart"


@using B2B.Data
@using CoreUI.Components.NotificationService
@using Entity
@inject CartService cartService
@inject IUserIdentityProcessor userIdentity
@inject NavigationManager navManager
@inject NotificationService notification
@attribute [Authorize]
<div class="container">
    @if (cartService._ordFiche!= null)
    {
        <div class="basket-container row">
            <div class="cart-basket">

                @if (ordlines != null)
                {
                    int _count = 0;
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">#</th>
                                <th class="text-center" scope="col">Ürün Kodu</th>
                                <th class="text-center" scope="col">Ürün Adı</th>
                                <th class="text-center" scope="col">Miktarı</th>
                                <th class="text-center" scope="col">Birim</th>
                                <th class="text-center" scope="col">Birim Fiyatı</th>
                                <th class="text-center" scope="col">Iskonto %</th>
                                <th class="text-center" scope="col">Vergi %</th>
                                <th class="text-center" scope="col">Tutar</th>
                                <th class="text-center" scope="col">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cartitem in ordlines)
                            {
                                _count++;
                                <tr>
                                    <td data-label="#">@_count</td>
                                    <td data-label="Ürün Kodu">@cartitem.Product.Code</td>
                                    <td data-label="Ürün Adı">@cartitem.Product.Name</td>
                                    <td data-label="Miktarı" class="text-end">@cartitem.Amount.ToString("N2")</td>
                                    <td data-label="Birim">@cartitem.Unit</td>
                                    <td data-label="Birim Fiyatı" class="text-end">@cartitem.Price.ToString("N2")</td>
                                    <td data-label="Iskonto %" class="text-end">@cartitem.Discper.ToString("N2")</td>
                                    <td data-label="Vergi %" class="text-end">@cartitem.Vat.ToString("N2")</td>
                                    <td data-label="Tutar" class="text-end">@cartitem.Total.ToString("N2")</td>
                                    <td data-label="İşlem">
                                        <input type="button" class="cart-delete-button"
                                               onclick="@(() => { cartService.RemoveCart(cartitem); StateHasChanged(); })"
                                               value="Sil" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <input class="btn btn-primary" value="Onayla" disabled="@(cartService._ordFiche.Lines?.Count < 1)" onclick="@(()=>ApprovingOrder())" />
                }
            </div>
            <div class="basket-summary">
                <div class="card">
                    <div class="card-header">
                        <label class="text-center">Firma Bilgileri</label>
                    </div>

                    <div class="card-body">
                        @cartService.company.Name
                    </div>
                    <div class="card-footer text-end">
                    </div>
                </div>



                <div class="card">
                    <div class="card-header">
                        <label class="text-center">Kullanıcı Bilgileri</label>
                    </div>

                    <div class="card-body">
                        @cartService.user.Username
                    </div>
                    <div class="card-footer text-end">
                    </div>
                </div>



                <div class="card">
                    <div class="card-header">
                        <label class="text-center">Sepet Özeti</label>
                    </div>

                    <div class="card-body">
                        @if (ordlines?.Count > 0)
                        {
                            <div class="row">
                                <label class="col-6">Ara Toplam: </label>
                                <span class="col-6 text-end">@cartService._ordFiche.GrossTotal.ToString("N2") TL</span>
                            </div>
                            <div class="row">
                                <label class="col-6">Iskonto: </label>
                                <span class="col-6 text-end">@cartService._ordFiche.TotalDiscounted.ToString("N2") TL</span>
                            </div>
                            <div class="row">
                                <label class="col-6">Vergi: </label>
                                <span class="col-6 text-end">@cartService._ordFiche.TotalVat.ToString("N2") TL</span>
                            </div>
                            <div class="row">
                                <label class="col-6">Toplam: </label>
                                <span class="col-6 text-end">@cartService._ordFiche.Total.ToString("N2") TL</span>
                            </div>
                        }
                    </div>
                    <div class="card-footer text-end">
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@code {
  
    List<OrdLine> ordlines { get; set; }

    protected async override void OnInitialized()
    {
        Guid userid = await userIdentity.GetCurrentUserId();
        if (userid != Guid.Empty)
        {
            ordlines = await cartService.ReadCart(userid);
            StateHasChanged();
        }
    }

    private void ApprovingOrder()
    {
        cartService.OrderSend();
        notification.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Kayıt Tamamlandı.", Detail = "Sipariş Kayıt Edildi.", Duration = 2000 });
        navManager.NavigateTo("/products");
    }

}
